@model ECA.Models.NewsViewModel

@{
    ViewBag.Title = "Crear";
}

<div class="container">
    <div class="row">
        <h4>Enlazar Noticia</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    <div class="col-s12">
        <div class="input-field">
            <input type="text" class="validate" id="Title" name="Title" length="70">
            @Html.LabelFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="input-field">
            <input type="text" class="validate" id="Description" name="Description" length="140">
            @Html.LabelFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="input-field">
            <input type="text" class="validate" id="thumbnail" name="thumbnail">
            @Html.LabelFor(model => model.thumbnail)
            @Html.ValidationMessageFor(model => model.thumbnail)
        </div>

        <div class="input-field">
            <input type="text" class="validate" id="link" name="link">
            @Html.LabelFor(model => model.link)
            @Html.ValidationMessageFor(model => model.link)
        </div>

        <p style="text-align:center">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Enviar
                <i class="mdi-content-send right"></i>
            </button>
        </p>
    </div>
        }
    </div>
</div>

